<!-- <ul class="list-group w-100">
    <li class="list-group-item d-flex justify-content-between w-100">
        <span>
            <input type="checkbox" checked="true">
        </span>
        <span>
            Learn Java today!
        </span>
        <span>
            12/06/2020
        </span>
        <span>
            trash
        </span>
    </li>
</ul> -->


<!-- now we need to loop through it -->

<ul class="list-group w-100" *ngFor="let todo of todos">
    <li class="list-group-item d-flex justify-content-between w-100" >
        <span>
            <input (change)="changeTodoStatus(todo)" type="checkbox" [checked]="todo.isCompleted">
        </span>
        <!-- <span class="completedTodo"> -->
        <span [ngClass]="{ completedTodo: todo.isCompleted }">
           {{ todo.title }}
        </span>
        <span>
            {{todo.date | date}}
        </span>
        <span>
            trash
        </span>
    </li>
</ul>